.App-header {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.announcement-wrapper {
  border: 1px solid white;
  padding: 1em;
  margin-right: 1em;
  height: 80vh;
}

.live-wrapper {
  border: 1px solid white;
  padding: 1em;
}

.input-text {
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

.input-field {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  width: 20em;
  margin-right: 2em;
}

.announcement-usernames {
  padding: 1em;
  border: 1px solid white;
  width: fit-content;
}

.get-username-section {
  display: flex;
  flex-direction: column;
}

.name-label {
  width: fit-content;
}

.name-input {
  width: 17em;
}

.btn {
  width: 17.6em;
}

.usernames {
  margin: 0;
}